pipeline/DailyFilesLoad.json
{
	"name": "DailyFilesLoad",
	"properties": {
		"activities": [
			{
				"name": "GetFileNames",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "FileNames",
						"value": "FileValues"
					}
				],
				"typeProperties": {
					"dataset": {
						"referenceName": "DailyFilesgetmetadadatsourcedataset",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@pipeline().parameters.Container",
								"type": "Expression"
							},
							"Folder": {
								"value": "@pipeline().parameters.StorageFolder",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "LoadEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFileNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileNames').output.childItems",
						"type": "Expression"
					},
					"batchCount": 3
				}
			}
		],
		"parameters": {
			"Container": {
				"type": "string",
				"defaultValue": "input"
			},
			"StorageFolder": {
				"type": "string",
				"defaultValue": "csv"
			}
		},
		"variables": {
			"FileName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}