pipeline/detaileddatamovement.json
{
	"name": "detaileddatamovement",
	"properties": {
		"description": "customer,order,payment",
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Lookup_Dataset",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.lookupdatasourcecontainer",
								"type": "Expression"
							},
							"folder": {
								"value": "@pipeline().parameters.lookupdatasourceFolder",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Get MetadataForFileNames",
				"description": "FileNames",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "GetFileNamesdataset",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@pipeline().parameters.lookupdatasourcecontainer",
								"type": "Expression"
							},
							"Folder": {
								"value": "@pipeline().parameters.lookupdatasourceFolder",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "FilterFileNames",
				"description": "FilterFileNames",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get MetadataForFileNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get MetadataForFileNames').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().name,'customer.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "saveFileName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "FilterFileNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CustFileName",
					"value": {
						"value": "@activity('FilterFileNames').output",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"lookupdatasourcecontainer": {
				"type": "string",
				"defaultValue": "input"
			},
			"lookupdatasourceFolder": {
				"type": "string",
				"defaultValue": "csv"
			},
			"CustomerFileName": {
				"type": "string"
			},
			"OrderFileName": {
				"type": "string"
			},
			"PaymentFileName": {
				"type": "string"
			}
		},
		"variables": {
			"CustFileName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}